<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Food-ERP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-fixed-top navbar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Store", "Create", "Store", routeValues: null, htmlAttributes: new{ @class = "nav-link" })</li>
                <li>@Html.ActionLink("Stores", "Index", "Store", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Locations", "Index", "Location", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>