@*@model IEnumerable<FoodErp.Models.CustomerViewModel>
*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div ng-controller="customerController">
    <div class="sidebyside leftside">
        <table class="table">
            <tr>
                @*<th>@Html.DisplayNameFor(model => model.CustomerId)</th>
                    <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                    <th>@Html.DisplayNameFor(model => model.Purchase)</th>
                    <th>@Html.DisplayNameFor(model => model.Store.StoreName)</th>
                    <th></th>*@

                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Purchase</th>
                <th>Store Name</th>
                <th></th>
            </tr>

            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Purchase)</td>
                        <td>@Html.DisplayFor(modelItem => item.Store.StoreName)</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                        </td>
                    </tr>
                }*@

            <tr ng-repeat="customer in customers">
                <td>{{ customer.CustomerId }}</td>
                <td>{{ customer.CustomerName }}</td>
                <td>{{ customer.Purchase }}</td>
                <td>{{ customer.Store.StoreName }}</td>
                <td>
                    <a onmouseover="this.style.cursor='pointer'" ng-click="delete(customer.CustomerId)">Delete</a>
                </td>
            </tr>

        </table>
    </div>

    <div class="sidebyside rightside">
        @Html.Partial("_CreatePartial")
    </div>

</div>


@section scripts{
    @Scripts.Render("~/Scripts/Angular/CustomerScript.js")
}